#cat-results, #cat-in-execution, #min-results, #min-in-execution {
    display: none;
}
.panel {
    border: 1px solid #dedede;
    padding:15px;
    border-radius: 3px;
}
body {
    padding: 50px 0px;
}